@import '../../variables.scss';

.pokedexSearch {
    margin: 2rem 0;
    text-align: center;

    input {
        background-color: $classicGreen;
        font-size: 1.3rem;
        font-family: pokeText;
        padding: .5rem 1.5rem;
        -webkit-appearance: none;
    }

    
}